[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "colors/vim-monokai"]
	path = colors/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
